*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    
}
.nav {
    display: flex;
    justify-content: end;
    padding-top: 60px;
    padding-right: 20px;
}
.nav__link {
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.2em;
    font-size: 15px;
    padding: 0px 40px 0px 40px;
}
.nav__link a{
    text-decoration: none;
    color: black;
}
.darkMode{
    display: flex;
    justify-content: end;
    padding-top: 50px;
    padding-right: 60px;
    align-items: center;
    height: 40px;

}
.darkMode__pages{
    display: flex;
    justify-content: end;
    padding-right: 60px;
    align-items: center;
    height: 40px;

}
.darkMode__icon{
    width: 16px;
}
.darkMode__text{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding: 0px 4px 0px 4px;
    margin-bottom: 4px;
}
/*boton dark mode*/
.switch {
    --button-width: 34px;
    --button-height: 20px;
    --toggle-diameter:14px;
    --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
    --toggle-shadow-offset: 10px;
    --toggle-wider: 3em;
    --color-black: black;
    --color-white: white;
}
.slider {
    display: inline-block;
    width: var(--button-width);
    height: var(--button-height);
    background-color: var(--color-black);
    border-radius: calc(var(--button-height) / 2);
    position: relative;
    transition: 0.3s all ease-in-out;
}
.slider::after {
    content: "";
    display: inline-block;
    width: var(--toggle-diameter);
    height: var(--toggle-diameter);
    background-color: white;
    border-radius: calc(var(--toggle-diameter) / 2);
    position: absolute;
    top: var(--button-toggle-offset);
    transform: translateX(var(--button-toggle-offset));
    box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
    transition: 0.3s all ease-in-out;
}
.switch input[type="checkbox"]:checked + .slider {
    background-color: var(--color-black);
}
.switch input[type="checkbox"]:checked + .slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
    box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
}
.switch input[type="checkbox"] {
    display: none;
}
.switch input[type="checkbox"]:active + .slider::after {
    width: var(--toggle-wider);
}
.switch input[type="checkbox"]:checked:active + .slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
}

.dark{
    background-color: #2E373E;
    color: white;
}
/*main index */
.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}
.mainContainer__title {
    padding-top: 40px;
}
.mainContainer__logo img{
    width: 80px;
}
.mainContainer__title h2{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    letter-spacing: 0.2em;
    text-align: center;
}
.mainContainer__title h1{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    text-align: center;
}
.rrss{
    display: flex;
    list-style: none;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 80px;
}
.rrss__list-icon{
    width: 30px;
    padding: 0px 12px 0px 12px ;
}
.rrss-page{
    padding: 60px 0px 60px 0px;
    display: flex;
    list-style: none;
    justify-content: center;
}
@media (max-width: 480px){
    .mainContainer__logo img{
        width: 60px;
    }
    .mainContainer__title h1{
        font-size: 30px;
    }
    .mainContainer__title h2{
        font-size: 15px;
    }
    .mainContainer{
        padding-top: 120px;
    }
    .mainContainer__title {
        padding-top: 30px;
    }
}
@media (max-width: 320px){
    .mainContainer__logo img{
        width: 60px;
    }
    .mainContainer__title h1{
        font-size: 20px;
    }
    .mainContainer__title h2{
        font-size: 12px;
    }
    .rrss{
        bottom: 40px;
    }
    .rrss__list-icon{
        width: 25px;
        padding: 0px 8px 0px 8px ;
    }
    .mainContainer{
        padding-top: 80px;
    }
    .mainContainer__title {
        padding-top: 20px;
    }
}
/*menu hamburguesa*/
.header__menuHamburguesa{
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.header__menuHamburguesa span {
    display: block;
    width: 100%;
    height: 4px;
    margin-top: 10px;
    background-color: #0A1612;
    transform-origin: 0px 100%;
    transition: 0.6s;
    justify-content: end;
}
.activeheader__menuHamburguesa-line1{
    transform: rotate(45deg) translate(-4px, 4px);
}
.activeheader__menuHamburguesa-line2{
    opacity: 0;
    margin-left: -50px;
}
.activeheader__menuHamburguesa-line3{
    transform: rotate(-45deg)translate(-6px,2px);
}
.header__menuItemsFlecha{
    display: none;
}
.activeheader__menuItemsFlecha a {
    text-decoration: none;
    color: black;
    padding-bottom: 12px;
    transition: .6s;
}
.activeheader__menuItemsFlecha a:hover {
    transform: translate(20px);
}
@media (min-width: 992px){
    .header__menuHamburguesa{
        display: none;
    }
}
/* tamaño de pantalla chica*/
@media (max-width: 992px){
    .header{
        display: flex;
        justify-content: end;
        padding-top: 60px;
        padding-right: 60px;
    }
    .nav{
        display: none;
    }
    .nav__link a{
        font-size: 20px;   
    }
    .activenav__link{
        list-style: none;
        padding-top: 10px;
    }
    .activenav {
        padding: 0px;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
    }
    .header__menuItemsFlecha{
        display: none;
    }
    .activeheader{
        height: 120px;
    }

}
/*paginas header*/
.header__pages{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.headerContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}
.headerContainer__logo{
    padding-left: 20px;
}
.headerContainer__logo a{
    text-decoration: none;
}
.headerContainer__logo a img{
    width: 80px;
}
.headerContainer__title {
    padding-left: 20px;
}
.headerContainer__title h1{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    text-align: center;
}
.headerContainer__title h2{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    letter-spacing: 0.2em;
    text-align: center;
}
.headerContainer__titles{
    text-decoration: none;
    color: black;
}
.headerContainer__titles h1{
    display: flex;
    justify-content: start;
}
.headerContainer__titles h2{
    display: flex;
    justify-content: start;
}
@media (max-width: 480px){
    .headerContainer__logo a img{
        width: 40px;
    }
    .headerContainer__title h1{
        font-size: 20px;
    }
    .headerContainer__title h2{
        font-size: 16px;
    }
    .headerContainer{
        padding-top: 40px;
    }
}
@media (max-width: 320px){
    .headerContainer__logo a img{
        width: 20px;
    }
    .headerContainer__title h1{
        font-size: 16px;
    }
    .headerContainer__title h2{
        font-size: 12px;
    }
    .headerContainer{
        padding-top: 20px;
    }
}

/*pagina arq*/
.main_arquitectura-containerGrid {
    display: grid;
    grid-template-columns: repeat(2fr,1fr);
    grid-auto-rows: 1fr;
    grid-gap: 12px;
    padding: 12px;
    margin-top: 60px;
}
.main_arquitectura-containerGrid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: 0.6s;
    overflow: hidden;
}
.main_arquitectura-containerGrid img:hover {
    opacity: 0.5;
}
.main_arquitectura-containerGrid h2{
    font-family: 'Roboto', sans-serif;
    align-self: center;
}

.main_arquitectura-containerItem{
    position: relative;
}
.main_arquitectura-containerItem:first-child {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}
.main_arquitectura-containerItem:nth-child(3) {
    grid-row: 3/5;
    grid-column: 1/2;
}

.main_arquitectura-containerItem:nth-child(7) {
    grid-row: 4/5;
    grid-column: 2/3;
}
.main_arquitectura-containerItem:nth-child(8) {
    grid-row: 3/5;
    grid-column: 3/5;
}
.main_arquitectura-containerItem:nth-child(9) {
    grid-row: 5/5;
    grid-column: 1/2;
}
.main_arquitectura-containerItem:nth-child(10) {
    grid-row: 5/5;
    grid-column: 2/3;
}
.main_arquitectura-containerItem:nth-child(11) {
    grid-row: 5/5;
    grid-column: 3/4;
}
.main_arquitectura-containerItem:nth-child(12) {
    grid-row: 5/5;
    grid-column: 4/5;
}
.main_arquitectura-containerItem-obras{
    position: relative;
}
.main_arquitectura-containerItem-obras:first-child {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}
.main_arquitectura-containerItem-obras:nth-child(3) {
    grid-row: 3/5;
    grid-column: 1/2;
}
.main_arquitectura-containerItem-obras:nth-child(6) {
    grid-row: 1/3;
    grid-column: 4/5;
}
.main_arquitectura-containerItem-obras:nth-child(7) {
    grid-row: 4/5;
    grid-column: 2/3;
}
.main_arquitectura-containerItem-obras:nth-child(8) {
    grid-row: 3/5;
    grid-column: 3/5;
}
.main_arquitectura-containerItem-obras:hover .main_arquitectura-containerText {
    opacity: 1;
}
.main_arquitectura-containerItem-obras:hover .main_arquitectura-containerText {
    opacity: 1;
}
.main_arquitectura-containerItem:hover .main_arquitectura-containerText {
    opacity: 1;
}
.main_arquitectura-containerItem:hover .main_arquitectura-containerText {
    opacity: 1;
}
.main_arquitectura-containerText {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.main_arquitectura-containerText h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
}
.main_arquitectura-containerText h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.1em;
}
.main_arquitectura-containerItem2 img:hover{
    opacity: 1;
}
.main_arquitectura-containerGrid h5{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    text-align: center;
    color:#b32525fb;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media (max-width: 1200px) {
    .main_arquitectura-containerText h3{
        font-size: 22px;
    }
    .main_arquitectura-containerText h4{
        font-size: 16px;
    }
}
@media (max-width: 992px) {
    .main_arquitectura-containerText h3{
        font-size: 20px;
    }
}
@media (max-width: 340px) {
    .main_arquitectura-containerText h3{
        font-size: 18px;
    } 
}

@media (max-width: 768px) {
    .main_arquitectura-containerGrid {
        display: flex;
        flex-direction: column;
    }   
}
/*page sobre mi*/
.main_sobreMi{
    display: flex;
    flex-direction: column;
    padding: 60px 20px 0px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
/*barra scroll*/
::-webkit-scrollbar{
    width: 12px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
        box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
    background-color: #6d6a6a;
}
::-webkit-scrollbar-thumb{
    background-color: #b32525fb; 
    background-image: -webkit-linear-gradient(90deg,rgba(255, 255, 255, .2) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, .2) 50%,rgba(255, 255, 255, .2) 75%,transparent 75%,transparent)
}

